In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
data = pd.read_csv('D:\Oil and Gas Datasets\Brazil_oil_production\Oil_production.csv');
data.head()

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_5584\718733038.py:1: DtypeWarning: Columns (7,8,9,20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('D:\Oil and Gas Datasets\Brazil_oil_production\Oil_production.csv');

,Year,Month,State,Basin,Field,Well,Environment,Installation,Oil (m³),Condensate oil (m³),...,Non-associated petroleum gas (Mm³),Water (m³),Gas injection (Mm³),Secondary recovery water injection (m³),Wastewater injection (m³),CO2 injection (Mm³),Nitrogen injection (Mm³),Steam injection (t),Polymer injection (m³),Others fluids injection (m³)
0,2019,4,AL,Alagoas,ANAMBÉ,1-BRSA-313D-AL,Land,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,4,AL,Alagoas,ANAMBÉ,1-BRSA-513D-AL,Land,Estação Coletora de Furado,NaN,NaN,...,360.7508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,4,AL,Alagoas,ANAMBÉ,7-ANB-10D-AL,Land,Estação Coletora de Furado,177.915,NaN,...,NaN,590.945,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,4,AL,Alagoas,ANAMBÉ,7-ANB-11-AL,Land,Estação Coletora de Furado,89.499,NaN,...,NaN,203.399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,4,AL,Alagoas,ANAMBÉ,7-ANB-12D-AL,Land,Estação Coletora de Furado,123.503,NaN,...,NaN,302.647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
harmony_data = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\Harmony_data.csv', index_col=0)
IHS_data = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\IHS_data.csv', index_col=0)
train_data = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\production_data_train.csv', index_col=0)
test_data = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\production_data_test.csv',index_col=0)
test_APIs = pd.read_csv(r'C:\Users\USUARIO\Documents\GitHub\Oil-Gas-Projects\Reservoir Engineering\Datasets\Oil Production\Test_APIs.csv', index_col=0)
test_APIs.shape, harmony_data.shape, IHS_data.shape, train_data.shape, test_data.shape,

((1134, 0), (8930, 6), (9224, 13), (394074, 9), (6489, 10))

In [41]:
train_data.head()

,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate
API,,,,,,,,,
33053063590000,2015,3,17186,26624,1.549168,8213,0.477889,16,2016-08-11 14:03:14.000
33053063590000,2015,4,18796,21796,1.159608,7255,0.385986,30,2016-08-11 14:03:14.000
33053063590000,2015,5,14626,15988,1.093122,4213,0.288049,31,2016-08-11 14:03:14.000
33053063590000,2015,6,10421,12311,1.181365,2717,0.260724,30,2016-04-06 13:47:11.383
33053063590000,2015,7,9777,11254,1.151069,2399,0.245372,31,2016-04-06 13:47:11.383

In [53]:
IHS_data.index.unique().shape

(8930,)

In [52]:
harmony_data.index.unique().shape

(8930,)

In [72]:
test_data.index.unique().shape[0] + train_data.index.unique().shape[0]

8973

In [143]:
repetead_wells = []
for well in train_data.index.unique():
    if well in test.index.unique():
        repetead_wells.append(well)

print(len(repetead_wells))

43

In [150]:
test_data[test_data.index.isin(repetead_wells)]

,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate,date
API,,,,,,,,,,
42109324790000,2014,1,9063,32771,3.615911,0,0.000000,0,2016-05-26 15:00:22.490,2014-01-01
42109324790000,2014,2,8502,38741,4.556693,0,0.000000,0,2016-05-26 15:00:22.490,2014-02-01
42109324790000,2014,3,5833,47744,8.185153,28804,4.938111,0,2016-05-26 15:00:22.490,2014-03-01
42475365670000,2014,4,12291,37926,3.085672,71225,5.794891,0,2016-05-28 15:52:14.900,2014-04-01
42475365670000,2014,5,10610,29766,2.805467,60632,5.714609,0,2017-05-11 15:23:45.110,2014-05-01
...,...,...,...,...,...,...,...,...,...,...
42301322730000,2015,5,9661,64795,6.706863,55767,5.772384,0,2018-11-04 10:19:16.577,2015-05-01
42389341840000,2014,11,13874,60189,4.338259,0,0.000000,0,2018-12-23 09:39:51.260,2014-11-01
42389341840000,2014,12,13633,57617,4.226289,0,0.000000,0,2018-12-23 09:39:51.260,2014-12-01
42389341840000,2015,1,10802,43153,3.994908,0,0.000000,0,2018-12-23 09:39:51.260,2015-01-01
42389341840000,2015,3,11042,86360,7.821047,0,0.000000,0,2018-12-23 09:39:51.260,2015-03-01

In [152]:
train_data[train_data.index.isin(repetead_wells)]

,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate
API,,,,,,,,,
42109324790000,2014,1,9063,32771,3.615911,0,0.000000,0,2016-05-26 15:00:22.490
42109324790000,2014,2,8502,38741,4.556693,0,0.000000,0,2016-05-26 15:00:22.490
42109324790000,2014,3,5833,47744,8.185153,28804,4.938111,0,2016-05-26 15:00:22.490
42109324790000,2014,4,3642,33902,9.308622,20453,5.615870,0,2016-05-26 15:00:22.490
42109324790000,2014,5,3022,29424,9.736598,17752,5.874255,0,2016-05-26 15:00:22.490
...,...,...,...,...,...,...,...,...,...
42389341840000,2016,7,4058,43446,10.706259,19667,4.846476,0,2019-01-06 08:45:42.780
42389341840000,2016,8,4049,42586,10.517659,19277,4.760929,0,2019-01-06 08:45:42.780
42389341840000,2018,10,1983,29588,14.920827,13394,6.754413,0,2019-02-13 21:23:55.270
42389341840000,2018,11,2113,29350,13.890204,13286,6.287743,0,2019-03-10 13:56:08.157
42389341840000,2018,12,1891,18036,9.537811,8164,4.317292,0,2019-03-10 13:56:08.157

In [163]:
test_data.head()

,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate,date
API,,,,,,,,,,
33053052530100,2014,7,19518,34414,1.763193,10786,0.552618,31,2016-04-06 13:48:08.990,2014-07-01
33053052530100,2014,8,18632,32250,1.730893,9959,0.534511,31,2016-04-06 13:48:08.990,2014-08-01
33053052530100,2014,9,12700,32768,2.580157,7528,0.592756,30,2016-04-06 13:48:08.990,2014-09-01
33053061840000,2015,1,24342,27534,1.131131,5752,0.236299,28,2017-02-23 14:01:12.400,2015-01-01
33053061840000,2015,2,12766,18118,1.419239,4143,0.324534,28,2016-04-06 13:48:09.583,2015-02-01

In [162]:
train_data.groupby('API').count()

,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate
API,,,,,,,,,
5001097720000,39,39,39,39,39,39,39,39,39
5001097780100,56,56,56,56,56,56,56,56,56
5001097800000,48,48,48,48,48,48,48,48,48
5001097820000,49,49,49,49,49,49,49,49,49
5001097830000,55,55,55,55,55,55,55,55,55
...,...,...,...,...,...,...,...,...,...
49021222940000,40,40,40,40,40,40,40,40,40
49021222950000,42,42,42,42,42,42,42,42,42
49021223030000,42,42,42,42,42,42,42,42,42
49021226570000,40,40,40,40,40,40,40,40,40
49021226580100,40,40,40,40,40,40,40,40,40